@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
  }
  
  body {
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  nav {
    background-color: #272727; /* Dark gray */
    color: #ffffff; /* White text */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  nav ul li {
    height: 40px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff; /* White text */
    display: flex;
    align-items: center;
    padding: 0 20px;
    padding-top: 5px;
    transition: background-color 0.3s ease;
    font-weight: 500;
    font-size: large;
  
  }
  
  nav ul li a:hover {
    color: bisque;
    text-decoration: underline;
  }
  ul li ul.dropdown li{
    display: block;
  }
  ul li ul.dropdown{
    margin:20px;
    width: 10%;
    background: #1d212b;
    position: absolute;
    z-index: 999;
    display: none;
  }
  ul li ul.dropdown li{
    display: block;
}
  ul li ul.dropdown{
    width:10%;
    background: #252932;
    position: absolute;
    z-index: 999;
    display: none;
    margin-top: 5px;
}
  
  ul li:hover ul.dropdown{
    display:block;
}
  ul li:hover ul.dropdown{
    display:block;
}
  .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1) ;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  
  }
  .sidebar a{
    width: 100%;
    color: black;
    font-size: large;
  
  }
  .sidebar a:hover{
    color: black;
    font-size: large;
    font-weight: 900;
    text-decoration: none;
  }
  
  .box {
    display: flex;
    align-items: center;
  }
  
  .box input[type="text"] {
    height: 35px;
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
    transition: width 0.5s;
  }
  
  .box input[type="text"]:focus {
    width: 250px;
  }
  
  .box a {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 20px;
    margin-left: -30px;
  }
  
  .hideonmobile {
    display: block;
  }
  
  @media(max-width: 800px) {
    .hideonmobile {
      display: none;
    }
  }
  .panel {
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
  
  .panel-ops ul li {
    display: inline;
    margin-left: 5px;
    list-style: none;
    justify-content: space-between;
  }
  
  .panel-ops a {
    text-decoration: none;
    color: white;
    align-items: center;
    padding: 0 30px;
    padding-top: 5px;
    transition: background-color 0.3s ease;
    font-weight: 500;
    font-size: large;
    
  }
  
  .panel-ops a:hover {
    color: turquoise;
  }
  
  .panel-ops {
    font-size: 1.5rem;
    position: relative;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .description{ 
    background-color: #1F1F1F;
    color:#F5F7F8;
  }
  
  
    
.slider-container{
  width: 100%;
  height: 100vh;
  background-image: url('Images/bg-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-images{
  display: flex;
  align-items: center;
  gap: 21px;
}
.slider-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.slider-img{
  width: 110px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
}
.slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
  height: 480px;
}
.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
  height: 560px;
}
.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
  height: 665px;
}
h1{
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: rotate(270deg);
  transition: 0.7s ease;
}
.details{
  position: absolute;
  bottom: 43px;
  left: 43px;
}
.details h2{
  font-family: "Jost", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  line-height: 44px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}
.details p{
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 33px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}
.slider-img.hover{
  width: 300px !important;
  height: 350px !important;
}
.slider-img.hover h1{
   display: none;
}
.slider-img.hover .details p,.slider-img.hover.details h2{
  display: block;
}
