*{
    margin:0;
    padding: 0;
  }
  
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0,0,0,0.9);
    color: #FDFDFD;
    font-size: 25px;
  }
  
  .logo img{
    width: 100px;
    height: 50px;
  }
  
  .search-bar{
    display: flex;
    align-items: center;
    background-color:  rgba(0,0,0,0.12);
    border:3px solid rgba(255,255,255,0.2);
    border-radius: 20px;
    padding: 5px;
    width:450px;
  }
  
  
  
  .search-bar i{
    margin-right: 5px;
    color: rgba(255,255,255,0.2);
  }
  
  .search-bar input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: 25px;
    color: rgba(255,255,255,0.6);
  }
  
  
  .menu a{
    margin-left: 10px;
    color: #F5F7F8;
    text-decoration: none;
  }
  
  .menu a:hover{
    color:rgba(255,255,255,0.2);
  
  }
  .menu a i{
    margin-right: 5px;
  }
  
  .menu a:last-child{
    margin-left: 20px;
  }
  
  .panel {
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
  
  .panel-ops ul li {
    display: inline;
    margin-left: 1px;
    list-style: none;
  }
  
  .panel-ops a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.2);
  }
  
  .panel-ops a:hover {
    color: white;
  }
  
  .panel-ops {
    font-size: 2rem;
    position: relative;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  
  
  .description{ 
    background-color: #1F1F1F;
    color:#F5F7F8;
  }
  
  .content h{
    border:1px solid red;
  }
  
  .footer{
    margin-top: 15px;
  }
  .foot-panel4{
    padding-top: 60px;
    background-color:#1F1F1F;
    color:#F5F7F8;
    height:100px;
    font-size: 1rem;
    
  }
  
  .copyright{
    text-align: left;
    padding-left: 50px;
  }  
  
  .icons{
    text-align: right;
    justify-content: space-evenly;
    font-size: 30px;
    padding-right: 30px;
  } 